
{% if is_paginated %}
    {% include 'partial/paginate.html' %}
{% endif %}


{% for article in articles %}
    <div class="box">
        <h3><a href="{% url "article:view" article.pk %}">{{ article.title }}</a></h3>
        {% if user.is_authenticated %}
            {% if user in article.like.all  %}
                 <a data-counter_article="counter_article{{ article.pk }}" onclick="articleUnlike(event)" href="{% url 'article:article_unlike' article.pk %}"><i class="fas fa-heart"></i></a>
                {% else %}
                <a data-counter_article="counter_article{{ article.pk }}" onclick="articleLike(event)" href="{% url 'article:article_like' article.pk %}"><i class="far fa-heart"></i></a>
                {% endif %}
            <p id="counter_article{{ article.pk }}">{{ article.like.count }}</p>
        {% endif %}
    </div>

{% empty %}
    <h2 class="text-center">Нет статей</h2>
{% endfor %}


{% if is_paginated %}
{#     {% include 'partial/pagination.html' %}#}
{% endif %}



